{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="py-3 mt-4 container-fluid mt-nav bg-less-dark">
    <div class="row">
        <div class="col-8 ">
            <div class="d-flex align-items-center">
                <a href="{% url 'season_detail' show.id season.season_number %}">
                    <i class="fa-solid fa-chevron-left "></i>
                    <span class="text-secondary">Back to</span> {{season.name}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="px-3 pb-3 mt-2 container-fluid">
    <div class="gap-3 d-flex justify-content-between">
        {% if prev_episode %}
        <a href="{% url 'episode_detail' show_id prev_season prev_episode.episode_number %}">
            <span class="d-flex align-items-center justify-content-end">
                <i class="fa-solid fa-arrow-left"></i>
                &nbsp;&nbsp;
                <div class="">&nbsp;
                    <span class="d-none">{{prev_episode.name}}</span>
                    <span class=" text-secondary">
                        ({{prev_season}}x{{prev_episode.episode_number}})
                    </span>
                </div>
            </span>
        </a>
        {% else %}
        <span></span>
        {% endif %}
        {% if next_episode %}
        <a href="{% url 'episode_detail' show_id next_season next_episode.episode_number %}" class="">
            <span class="d-flex align-items-center">
                <div class="">&nbsp;
                    <span class="d-none">{{next_episode.name}}</span>
                    <span class=" text-secondary">
                        ({{next_season}}x{{next_episode.episode_number}})
                    </span>
                </div>&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
            </span>
        </a>
        {% else %}
        <span></span>
        {% endif %}
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="text-2xl fw-600">&nbsp;{{episode.name}}
                <span class="text-2xl text-secondary fw-400">({{season_number}}x{{episode.episode_number}})</span>
            </div>
            {% comment %} <div class="px-2 d-flex text-secondary">
                <span>Air date:&nbsp;&nbsp;</span>
                <span class="text-secondary">{{episode.air_date}}</span>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col-12 col-lg-5 col-xl-4">
            <img loading="lazy" src="http://image.tmdb.org/t/p/original{{episode.still_path}}" alt=""
                class=" img-fluid rounded-3" loading="lazy">
        </div>
        <div class="pt-2 pt-lg-0 col-12 col-lg-7 col-xl-7">
            <div class="d-flex">
                <span>Air date:&nbsp;&nbsp;</span>
                <span class="text-secondary">{{episode.air_date}}</span>
            </div>
            <p class="mt-2">{{episode.overview}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-3 mt-lg-5 row">
        <div class="col-12 col-sm-6 col-xxl-4">
            <div class="row ">
                <div class="col-12 ">
                    <h3 class="p-0 pb-2 m-0 text-xl fw-600 d-flex align-items-center "> Season Regulars
                        <span class="text-xl fw-200 text-secondary">&nbsp;{{cast_count}}</span>
                    </h3>
                </div>
                {% for credit in episode.credits.cast %}
                <div class="py-1 col-10 col-lg-7 col-xxl-10">
                    {% include 'cast_and_crew/tv_cast_and_crew.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="p-0 pt-4 pb-2 m-0 text-xl fw-600 d-flex align-items-center"> Guest Stars
                        <span class="text-xl fw-200 text-secondary">&nbsp;{{guest_count}}</span>
                    </h3>
                </div>
                {% for credit in episode.credits.guest_stars %}
                <div class="py-1 col-10 col-lg-7 col-xxl-10">
                    {% include 'cast_and_crew/tv_cast_and_crew.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="p-0 pt-4 pb-2 m-0 text-xl fw-600 d-flex align-items-center"> Crew
                        <span class="text-xl fw-200 text-secondary">&nbsp;{{crew_count}}</span>
                    </h3>
                </div>
                {% for department in departments %}
                <div class="px-3 pt-3 pb-1 col-12">
                    <h3 class="p-0 m-0 text-base fw-600 d-flex align-items-center"> {{department}} </h3>
                </div>
                <div class="col-12 row">
                    {% for credit in episode.credits.crew %}
                    {% if credit.department == department %}
                    <div class="py-1 col-12 col-10 col-lg-7 col-xxl-10">
                        {% include 'cast_and_crew/tv_cast_and_crew.html' %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="pb-2 row">
            <div class="col">
                <h3 class="p-0 m-0 text-base fw-600 d-flex align-items-center"> {{department}} </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for credit in season.credits.crew %}
                {% if credit.department == department %}
                <div class="pb-2 col-12 col-md-8 col-lg-7 ">
                    {% include 'cast_and_crew/tv_cast_and_crew.html' %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}