{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container pt-5 pb-3">
    <div class="row d-flex ">
        <div class="col-12 col-md-10 col-lg-5 col-xl-4">
            <div class="row ">
                <img src="http://image.tmdb.org/t/p/w780{{episode.still_path}}" alt="" class="img-fluid rounded-3">
            </div>
        </div>
        <div class="col-12 col-lg-7 text-2xl">
            <h1 class="text-4xl pt-2 mb-0">
                {{episode.name}}
            </h1>
            <span class="text-secondary">{{episode.air_date}}</span>
            <div class="text-2xl fw-600 pt-3">Overview</div>
            <p class="fw-300 pt-2">{{episode.overview}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-xl fw-600 p-0 m-0 d-flex align-items-center pb-2"> Season Regulars
                <span class="fw-200 text-xl text-secondary">&nbsp;{{cast_count}}</span>
            </h3>
        </div>
        {% for credit in episode.credits.cast %}
        <div class="col-12 col-sm-6 col-lg-4 py-1">
            {% include 'cast_and_crew/tv_cast_and_crew.html' %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-xl fw-600 p-0 m-0 d-flex align-items-center pb-2 pt-4"> Guest Stars
                <span class="fw-200 text-xl text-secondary">&nbsp;{{guest_count}}</span>
            </h3>
        </div>
        {% for credit in episode.credits.guest_stars %}
        <div class="col-12 col-sm-6 col-lg-4 py-1">
            {% include 'cast_and_crew/tv_cast_and_crew.html' %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-xl fw-600 p-0 m-0 d-flex align-items-center pb-2 pt-4"> Crew
                <span class="fw-200 text-xl text-secondary">&nbsp;{{crew_count}}</span>
            </h3>
        </div>
        {% for department in departments %}
        <div class="col-12 pb-1 pt-3 px-3">
            <h3 class="text-base fw-600 p-0 m-0 d-flex align-items-center"> {{department}} </h3>
        </div>
        <div class="col-12 row">
            {% for credit in episode.credits.crew %}
            {% if credit.department == department %}
            <div class="col-12 col-sm-6 py-1 ">
                {% include 'cast_and_crew/tv_cast_and_crew.html' %}
            </div>
            {% endif %}
            {% endfor %}
        </div>


        {% endfor %}

    </div>
</div>


<div class="row pb-2">
    <div class="col">
        <h3 class="text-base fw-600 p-0 m-0 d-flex align-items-center"> {{department}} </h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% for credit in season.credits.crew %}
        {% if credit.department == department %}
        <div class="col-12 col-md-8 col-lg-7 pb-2">
            {% include 'cast_and_crew/tv_cast_and_crew.html' %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock body %}