{% extends "layout.html" %}



{% block body %}

<div class="container pt-5 d-flex flex-column align-items-center">
    <div class="p-2 mb-4 shadow-lg row w-100 ">
        <div class="col-3 col-lg-2">
            <img src="http://image.tmdb.org/t/p/original{{season.poster_path}}" alt="" class="img-fluid rounded-3">
        </div>
        <div class="col-8">
            <div class="text-3xl">{{name}}</div>
            <div class="text-xl pt-1">{{season.name}}</div>
            {% comment %} <p class="pt-2 fw-300">{{season.overview}}</p> {% endcomment %}
        </div>
    </div>
    <div class="row w-100 ">
        {% for episode in season.episodes %}
        <div class="p-0 pb-3 m-0 col-12 row">
            <div class="col-12 col-md-4 pb-md-3 pt-lg-4">
                <img src="http://image.tmdb.org/t/p/original{{episode.still_path}}" alt="" class="img-fluid rounded-3">

            </div>
            <div class="pt-3 col-12 col-md-8 row ">
                <div class="col-10 ">
                    <div class="text-2xl fw-500">
                        {% comment } <a href="{% url 'season_detail' show.id season.season_number %}"></a>
                        {% endcomment %}
                        <a href="{% url 'episode_detail' show.id season.season_number episode.episode_number %}"
                            class="text-xl">
                            {{episode.episode_number}}.&nbsp;{{episode.name}}&nbsp;&nbsp; <i
                                class="fa-solid fa-chevron-right text-secondary"></i>
                        </a>
                    </div>
                    <div class="pb-3 fw-300">
                        {{episode.air_date}}
                    </div>
                </div>
                <div
                    class="px-0 py-1 align-items-start col-2 d-md-block d-flex justify-content-end px-md-2 py-md-0 mt-md-2">


                    {% if episode.vote_average %}
                    <span class="{% if episode.vote_average >= 7.5 %}positive{% elif episode.vote_average >= 6 %}neutral{% else %}negetive{% endif %}
                         p-1 rounded-3">
                        <span>
                            {% if episode.vote_average %}
                            {{ episode.vote_average|floatformat:1 }}
                            {% endif %}
                        </span>
                    </span>
                    {% endif %}
                </div>
                <div class="col-11 d-none d-lg-block">
                    <p class="fw-300">{{season.overview}}</p>
                </div>

            </div>
            <div class="col-12 d-lg-none">
                <p class="fw-300">{{season.overview}}</p>
            </div>

            <hr class="mx-2 my-3 ">
        </div>

        {% endfor %}
    </div>
</div>

{% endblock body %}