{% extends "layout.html" %}

{% block body %}

<style>
.backdrop-filter {
    {{ backdrop_filter }}
}

.backdrop {
background: url('http://image.tmdb.org/t/p/original{{show.backdrop_path}}');
background-size: cover;
background-position: center;
}
</style>


<section class="backdrop">
    <div class="container-fluid backdrop-filter pl-4">
        <!-- Hero col -->
        <div class="row">
            <!-- Poster col -->
            <div class="col-3 py-4 poster-col ">

                <img class="img-fluid" src="http://image.tmdb.org/t/p/original{{show.poster_path}}" alt="">

            </div>
            <!-- Content col -->
            <div class="col-8  py-4">
                <!-- Title row -->
                <div class="row">
                    <div class="col-12 d-flex">
                        <h1 class="text-4xl fw-700 mb-0">{{show.name}}&nbsp; </h1>
                        <span class="text-4xl fw-300">({{ show.first_air_date|slice:"0:4" }})
                        </span>
                    </div>
                </div>
                <!-- Rating and genre row -->
                <div class="row">
                    <div class="col-12">
                        {% if rating %}
                        <span class="mpaa-rating text-sm">{{rating}}</span>
                        {% endif %}
                        {% for genre in show.genres %}
                        <span class="text-sm">{{ genre.name }},&nbsp;&nbsp; </span>
                        {% endfor %}
                    </div>
                </div>
                <!--Score row -->
                {% comment %} !TODO refactor to just switch class {% endcomment %}
                <div class="row score py-3">
                    <div class="col-12 d-flex ">
                        {% if show.vote_average >= 7.5 %}
                        <span class=" positive">{{ show.vote_average|floatformat:1  }}</span>
                        {% elif show.vote_average >= 6 %}
                        <span class="neutral">{{ show.vote_average|floatformat:1  }}</span>
                        {% else %}
                        <span class="negetive">{{ show.vote_average|floatformat:1  }}</span>
                        {% endif %}
                    </div>
                </div>

                <!--Tagline row -->
                {% if show.tagline %}
                <div class="row">
                    <div class="col-12">
                        <span class="tagline text-xl"> {{show.tagline}} </span>
                    </div>
                </div>
                {% endif %}

                <!--Tagline row -->
                {% if show.overview %}
                <div class="row ">
                    <div class="col-12">
                        <h3 class="text-2xl fw-600">Overview</h3>
                        <p class="fw-400 pr-1"> {{ show.overview }} </p>
                        <hr class="bg-light mt-4 mb-5">
                    </div>
                </div>


                {% endif %}
                <div class=" row">
                    <div class="col-8 row">
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-600">Seasons</span>
                            <span>{{ show.number_of_seasons }} </span>
                        </div>
                        <div class="col-6 d-flex flex-column pb-3">
                            <span class="fw-600">Creator(s)</span>
                            <div>
                                {% for creator in show.created_by %}
                                <span>{{ creator.name }},</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-4 d-flex flex-column">
                            <span class="fw-600">Episodes</span>
                            <span>{{ show.number_of_episodes }} </span>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <span class="fw-600">Runtime</span>
                            <span>
                                {% for runtime in show.episode_run_time %}
                                <p>{{ runtime }} minutes</p>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="col-4 ">
                        {% if streaming_services %}
                        <div class="row">
                            <div class="text-lg fw-500">Where to Watch:</div>
                        </div>
                        <div class="row">

                            {% for service in streaming_services %}
                            <div class="col-3 p-2">
                                <img class="img-fluid streaming rounded"
                                    src="http://image.tmdb.org/t/p/original{{service.logo_path}}" alt="">
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock body %}