{% extends 'layout.html' %}

{% block body %}

<div class="container pb-5 trending">
    <h1 class="py-3 text-4xl text-center">
        Trending Shows
    </h1>
    <div class="row d-grid " style="grid-template-columns: repeat(6, 1fr);row-gap: 30px;">

        {% for show in shows %}
        {% if show.poster_path != None %}
        {% if forloop.counter < 19 %}
        <div class="col d-flex">
            <div class="text-sm position-relative bg-dark rounded-3">
                <a href=" {% url 'show' show.id %}">
                    <img class="img-fluid rounded-top-3" src="http://image.tmdb.org/t/p/original{{show.poster_path}}">
                </a>
                <div class="py-3 div score" style="position: absolute; top: 66%; left: 75%;">
                    <div class="col-12 d-flex">
                        <span
                            class="fw-700 
                            {% if show.vote_average >= 7.5 %}positive{% elif show.vote_average >= 6 %}neutral{% else %}negetive{% endif %}">
                            {{ show.vote_average|floatformat:1 }}
                        </span>
                    </div>
                </div>
                <div class="p-3 pt-4 pb-3 pr-5 fw-600 ">
                    {{show.name}}
                    <div class="fw-200">{{ show.formatted_date|date:'M d, Y' }}</div>
                </div>

            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock body %}