a {
  text-decoration: none !important;
}

#module {
  width: 500px;
}

a:hover {
  color: $primary !important;
}

.trunc-2 {
  -webkit-line-clamp: 2 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical !important;
  /* autoprefixer: on */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
}
.p-nav {
  margin-top: 27px !important;
}
