@import "./variables/colors.scss";

.banner {
  .filter {
    min-height: 45vh;
  }
  .input-group {
    background: $input-bg;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .banner {
    min-height: 45vh;
    .hero-content {
      width: 95%;
    }
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner {
    min-height: 45vh;
    .hero-content {
      width: 85%;
    }
  }
  .media-container {
    padding-left: 1rem !important;
    .trending-title {
      padding-left: 1rem !important;
    }
    .nav {
      padding-left: 1rem !important;
    }
    .card-row {
      padding-left: 1rem !important;
      gap: 0.6rem;
      .card-offset {
        width: 21vw !important;
        .card-body {
          min-height: 100px !important;
        }
      }
    }
  }
}

/* Medium devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner {
    min-height: 50vh;
    .hero-content {
      width: 80%;
    }
  }
  .media-container {
    padding-left: 1.5rem !important;
    .trending-title {
      padding-left: 1rem !important;
    }
    .nav {
      padding-left: 1rem !important;
    }
    .card-row {
      gap: 1rem;
      padding-left: 1rem !important;
      .card-offset {
        width: 18vw !important;
        .card-body {
          min-height: 100px !important;
        }
      }
    }
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner {
    min-height: 50vh;
    .hero-content {
      width: 70%;
    }
  }
  .media-container {
    padding-left: 2rem !important;
    .trending-title {
      padding-left: 2rem !important;
    }
    .nav {
      padding-left: 2rem !important;
    }
    .card-row {
      gap: 0.8rem;
      padding-left: 2rem !important;
      .card-offset {
        width: 15vw !important;
        .card-body {
          min-height: 75px !important;
        }
      }
    }
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .banner {
    min-height: 65vh;
    .hero-content {
      width: 70%;
    }
  }
  .media-container {
    padding-left: 3rem !important;
    .trending-title {
      padding-left: 2rem !important;
    }
    .nav {
      padding-left: 2rem !important;
    }
    .card-row {
      gap: 1rem;
      padding-left: 2rem;
      .card-offset {
        width: 12vw !important;

        .card-body {
          min-height: 100px !important;
        }
      }
    }
  }
}

.nav-link.active {
  background-color: $yellow !important;
  color: $dark !important;
}
.nav-pills .nav-link.active {
  position: relative;
  z-index: 1;
}

.filter {
  background: rgba(17, 24, 39, 0.7);
  background: linear-gradient(
    90deg,
    rgba(17, 24, 39, 0.9) 0%,
    rgba(17, 24, 39, 0.7) 50%,
    rgba(17, 24, 39, 0.9) 100%
  );
}

.form-inline {
  flex-grow: 1 !important;
  display: flex;
  align-items: center;
}

.hero input {
  flex-grow: 1;
}

.banner-search-col .autocomplete-wrapper {
  padding-left: 5px !important;
}
