.card-row {
  .title-card {
    width: 185px;
  }

  .score {
    position: absolute;
    margin-top: 140% !important;
    margin-left: 75%;
  }

  .positive {
    background-color: $green;
    color: $dark;
  }
  .neutral {
    background-color: $yellow;
    color: $dark;
  }
  .negetive {
    background-color: $red;
  }
}

.credit-card {
  width: 185px !important;
}

.score-wrapper {
  position: absolute !important;
  top: 74% !important;
  right: 15% !important;
  transform: translateY(-50%) !important;
}
