@import "./variables/typography.scss";
@import "./variables/colors.scss";
@import "./components/nav.scss";
@import "./layouts/card_grid.scss";
@import "./cast_and_crew/cast_and_crew.scss";
@import "./utlis/utils.scss";
@import "./homepage.scss";
@import "./general.scss";
@import "./media/movie_and_show.scss";
@import "./media/movies/movie.scss";
@import "./media/shows/show.scss";
@import "./media/shows/season.scss";
@import "./people/person.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

// @use "./bootstrap.scss" as *;
@import "./bootstrap.scss";

* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
