/* Type Scale Utility Classes */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
} /* 12px */
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem;
  line-height: 3rem; /* 48px */
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 3.75rem; /* 60px */
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 4.5rem; /* 72px */
}

.text-8xl {
  font-size: 6rem;
  line-height: 6rem; /* 96px */
}

.text-9xl {
  font-size: 8rem;
  line-height: 8rem; /* 128px */
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
