{% load static %}


<div class="py-3 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex">
    <div class="pb-3 shadow-lg media-card bg-dark rounded-top-4 rounded-bottom-4">
        <a href="{% if title.media_type == 'movie' %}{% url 'movie' title.id %}{% elif title.media_type == 'tv' %}{% url 'show' title.id %}{% else %}{% url 'person' title.id %}{% endif %}"
            class="media-img">
            {% if title.poster_path or title.profile_path %}
            {% if title.poster_path %}
            <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                src="http://image.tmdb.org/t/p/w500{{title.poster_path}}">
            {% else %}
            <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                src="http://image.tmdb.org/t/p/w500{{title.profile_path}}">
            {% endif %}
            {% else %}
            {% if title.media_type == 'movie' %}
            <img src="{% static 'cinegraph/img/movie-placeholder.svg' %}" alt="" class="img-fluid">
            {% elif title.media_type == 'tv' %}
            <img src="{% static 'cinegraph/img/tv-placeholder.svg' %}" alt="" class="img-fluid">
            {% else %}
            <img src="{% static 'cinegraph/img/person-placeholder.svg' %}" alt="" class="img-fluid">

            {% endif %}
            <img src="{% static 'cinegraph/img/person-placeholder.svg' %}" alt="" class="img-fluid">
            {% endif %}
        </a>
        {% if title.vote_average > 0 %}
        <div class="media-score d-flex justify-content-center align-items-center">
            <span
                class="fw-700 {% if title.vote_average >= 7.5 %}green{% elif title.vote_average >= 6 %}yellow{% else %}red{% endif %} p-2 rounded-3">
                {{ title.vote_average|floatformat:1 }}
            </span>
        </div>
        {% endif %}
        <div class="px-3 pt-4 media-info">
            <a
                href="{% if title.media_type == 'movie' %}{% url 'movie' title.id %}{% elif title.media_type == 'tv' %}{% url 'show' title.id %}{% else %}{% url 'person' title.id %}{% endif %}">
                <div class="pb-1 text-lg fw-600 text-truncate"> {{title.title}}{{title.name}}</div>
            </a>
            <div class="fw-300">{{ title.formatted_date|date:'M d, Y' }}</div>
        </div>
    </div>
</div>