@import "../variables/colors.scss";
@import "../variables/typography.scss";
// @import "../bootstrap.scss";

.backdrop-filter {
  .poster-col {
    padding-left: 1rem;
    img {
      border-radius: 1rem;
    }
  }

  .score {
    span {
      padding: 0.7rem;
      border-radius: 0.3rem;
    }
    .positive {
      background-color: $green;
      color: $dark;
    }
    .neutral {
      background-color: $yellow;
      color: $dark;
    }
    .negetive {
      background-color: $red;
    }
  }

  .mpaa-rating {
    border: 1px solid $secondary;
    color: $secondary;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .tagline {
    color: $secondary;
    font-style: italic;
  }

  // p {
  //   line-height: 20px;
  // }
}
hr {
  background-color: $primary;
}

.trending {
  .score {
    span {
      padding: 0.5rem;
      border-radius: 0.3rem;
      color: $white;
      font-family: "Arial", sans-serif;
      // color: $dark;
    }
    .positive {
      background-color: $green;
      // color: $dark;
    }
    .neutral {
      background-color: $yellow;
    }
    .negetive {
      background-color: $red;
    }
  }
}

// .movies {
//   .score {
//     position: absolute;
//     top: -10;
//   }
// }
