{% load static %}
<a href="{% if credit.media_type == 'movie' %}{% url 'movie' credit.id %}{% else %}{% url 'show' credit.id %}{% endif %}"
    class="list-group-item p-0 d-flex bg-body border-0 py-2">

    <div class="col-2 col-sm-1 p-0 ">



        {% if credit.poster_path %}
        <img loading="lazy" src="http://image.tmdb.org/t/p/w342{{credit.poster_path}}" alt="" class="img-fluid">
        {% else %}
        <img src="{% static 'cinegraph/img/movie-placeholder.svg' %}" alt="" class="img-fluid ">
        {% endif %}
    </div>
    <div class="col-10 col-sm-11 px-2">
        <div class="row overflow-hidden d-flex ">
            <div class="row no-gutters">
                <span class="text-primary fw-600 d-inline-block text-truncate col-10">
                    {{credit.title}}
                    {{credit.name}}
                </span>
                <span class="col col-2 text-secondary d-flex justify-content-end">
                    {{credit.release_date|slice:"0:4"}}
                    {{credit.first_air_date|slice:"0:4"}}
                </span>
            </div>

            <div class="d-flex col-9 flex-column text-secondary">
                <span> {{credit.job}}</span>
                <span> {{credit.character}}</span>
            </div>
        </div>
    </div>
</a>