{% extends 'layout.html' %}

{% block body %}

<h1 class="py-3 text-4xl text-center">
    Trending People
</h1>

<section>
    <h1>Autocomplete Example</h1>
    <input type="text" id="search-input">
    <ul id="autocomplete-list"></ul>
</section>

<section>
    <div class="container">
        <div class="row">
            {% for person in people %}
            {% if person.profile_path != None %}
            <div class="col-12">
                {{person.name}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% comment %} <div class="container pb-5 trending">
    <div class="row ">
        {% for person in people %}
        {% if person.profile_path != None %}
        {% if forloop.counter < 19 %}
        <div class="col-2 flex">
            <div class="text-sm position-relative bg-dark rounded-3">
                <a href=" {% url 'person' person.id %}">
                    <img class="img-fluid rounded-top-3"
                        src="http://image.tmdb.org/t/p/original{{person.profile_path}}">
                </a>
                <div class="">
                    <span class="text-xl fw-600">
                        {{ person.name }}
                    </span>
                    {% if person.title_str %}
                    <span class="d-inline-block text-truncate text-sm fw-300" style="max-width: 90%;">
                        {{ person.title_str}}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div> {% endcomment %}


{% endblock body %}