{% extends 'layout.html' %}

{% block body %}

<h1 class="pt-5 text-4xl text-center">
    Trending People
</h1>




<section>
    <div class="container-fluid" id="People">
        <div class="row px-lg-5 px-md-4 px-sm-3 px-xs-2">
            {% for person in people %}
            {% if person.profile_path != None %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex flex-column align-items-center py-3">
                <a href="{% url 'person' person.id %}" class="h-100 bg-dark h-100 rounded-3 pb-3 person-card">
                    <img loading="lazy" src="http://image.tmdb.org/t/p/w470_and_h470_face{{person.profile_path}}" alt=""
                        class="rounded-top-3 img-fluid w-100">

                    <div class="fw-600 px-2 pt-2">
                        {{person.name}}
                    </div>
                    <div class="text-secondary text-sm text-truncate px-2">
                        {{person.title_str}}
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}