{% extends 'layout.html' %}
{% load static %}
{% block body %}

<style>
  .bio-content.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }

    .read-more {
        display: none;
    }

    
    /* Initially, hide the extra text that
        can be revealed with the button */
    #moreText {
        /* Display nothing for the element */
        display: none;
    }

</style>

<div id="Actor-details" class="container-fluid px-4 pt-5">

    <div class="row py-3 d-flex ">
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 d-flex mx-auto align-items-center d-sm-block ">
            <img loading="lazy" src="http://image.tmdb.org/t/p/w470_and_h470_face{{person.profile_path}}" alt=""
                class="img-fluid d-block d-sm-none rounded-3 ">
            <img loading="lazy" src="http://image.tmdb.org/t/p/original{{person.profile_path}}" alt=""
                class="img-fluid d-none d-sm-block rounded-3 ">
        </div>


        <div class="col-12 col-sm-8 col-md-9 col-xl-10 order-md-2">
            <div class="col-12  ">
                <div class="col-12 text-center text-sm-start  pt-4 pt-sm-0">
                    <h1 class="text-3xl fw-600">
                        {{person.name}}
                    </h1>
                </div>
            </div>
            {% include 'people/biography.html' %}
        </div>
    </div>

</div>

<div id="known-for" class="container-fluid pt-3">
    <div class="row px-3">
        <h3>Known For</h3>
    </div>
    <div class="row flex-nowrap   overflow-scroll px-4 gap-3 gap-lg-0 ">
        {% for credit in known_for %}
        <a class="col-11 col-sm-8 col-md-5  py-2" href='{% url "movie" credit.id %}'>
            <div class="row rounded known-for-card">
                <div class="col-auto col-sm-3 col-sm-2 col-lg-auto p-0 bg-dark">
                    <img loading="lazy" src="http://image.tmdb.org/t/p/w342{{credit.poster_path}}" alt=""
                        class="known-for-img rounded-start-3" height="110" width="auto">
                </div>
                <div class="col-9 bg-dark pt-2">
                    <div class=" text-truncate d-inline-block fw-500 d-flex justify-content-between">
                        {% if credit.media_type == 'movie' and credit.poster_path %}
                        {{credit.title}}
                        {% else %}
                        {{credit.name}}
                        {% endif %}

                        <div
                            class="{% if credit.vote_average >= 7.5 %}green{% elif credit.vote_average >= 6 %}yellow{% else %}red{% endif %} score p-1 rounded-3 d-inline-block">
                            <div class="text-sm ">
                                {% if credit.vote_average %}
                                {{ credit.vote_average|floatformat:1 }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="text-secondary fw-300">{{credit.character}}</div>
                    <div class="text-secondary fw-300">
                        {% if credit.media_type == 'movie' %}
                        {{credit.release_date|slice:"0:4"}}
                        {% else %}
                        {{credit.first_air_date|slice:"0:4"}}
                        {% endif %}
                    </div>

                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>




<div id="Credits" class="container-fluid px-4 pt-4">
    {% include 'people/credits.html' %}
</div>

{% endblock body %}