{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container py-3">
    <div class="row">
        <div class=" mb-3 row px-lg-3 ">
            <div class="col">
                <h3 class="text-2xl fw-600 p-0 m-0 d-flex align-items-center">Season Regulars </h3>
            </div>
        </div>
        <div class=" pb-2r row ">
            {% for credit in credits.cast %}
            <div class="col-12 col-sm-6 col-lg-4 pb-2">
                <div class="row no-gutters px-lg-0">
                    <div class="col-3 col-sm-4 col-xl-3 py-0 py-md-1">
                        <a href="{% url 'person' credit.id %}">
                            <div class="headshot-wrapper ratio ratio-1x1 ">
                                {% if credit.profile_path %}
                                <img loading="lazy" src="http://image.tmdb.org/t/p/w185{{credit.profile_path}}" alt=""
                                    class="p-1 img-fluid rounded-3">
                                {% else %}
                                <img src="{% static 'cinegraph/img/person-placeholder.svg' %}" alt=""
                                    class="img-fluid rounded-3">
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <div class="col-7 col-sm-8 d-flex flex-column justify-content-center">
                        <a href="{% url 'person' credit.id %}"
                            class="fw-600 d-inline-block text-truncate ">{{credit.name}}</a>
                        <span class="text-sm fw-300 d-inline-block text-truncate ">{{credit.character}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}