{% extends 'layout.html' %}




{% block body %}
{% load static %}

<style>
    .hero {
    background: url("{% static 'cinegraph/img/succession_banner.jpg' %}");
    background-size: cover;
    background-position:top;
    }
</style>

<div class="banner hero d-flex ">
    <div class="container-fluid filter d-flex align-items-center justify-content-center ">
        <div class="gap-3 px-1 d-flex flex-column hero-content">
            <span>
                <h1 class="text-5xl fw-600">Welcome.</h1>
                <h2 class="text-3xl">Discover movies, shows, and more!</h2>
            </span>
            <div class="rounded input-group 3"></div>
            <div class="input-group rounded-3 row">
                <div class="col-10 d-flex align-items-center justify-content-start banner-search-col">
                    {% include 'search/search_form.html' %}
                </div>
                <span class="p-1 col-2 d-flex justify-content-end">
                    <button class="btn btn-warning" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="pb-3 container-fluid">
    <div class="px-3 mb-2 row trending-title">
        <h3 class="mt-4 text-2xl ">Trending</h3>
    </div>
    <ul class="gap-2 p-0 px-3 pb-3 mb-1 nav nav-pills d-flex" id="pills-tab" role="tablist">
        <li class="nav-item bg-dark rounded-3" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Movie</button>
        </li>
        <li class="nav-item bg-dark rounded-3" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Television</button>
        </li>
        <li class="nav-item bg-dark rounded-3" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">People</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="p-0 container-fluid">
                <div class="px-3 overflow-auto row card-row flex-nowrap">
                    {% for credit in movies %}
                    {% include 'components/credit_slider.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="px-3 overflow-auto row card-row flex-nowrap">
                {% for credit in shows %}
                {% include 'components/credit_slider.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="px-3 overflow-auto row card-row flex-nowrap">
                {% for credit in people %}
                {% include 'components/credit_slider.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!--TODO trending trailers-->


{% endblock body %}