{% extends 'layout.html' %}
{% load static %}

<style>
    .invisible {
        color: rgba(0,0,0,0);
    }
</style>

{% block body %}
<div class="container search-me mt-5">
    <div class="row">
        {% for result in results %}

        {% if result.media_type == 'movie' and result.poster_path != None %}
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 my-3 px-3">
            <div class="media-card shadow-lg bg-dark rounded-top-4 rounded-bottom-4  pb-3">
                <a class="media-img" href="{% url 'movie' result.id %}">
                    <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                        src="http://image.tmdb.org/t/p/original{{result.poster_path}}">
                </a>
                <div class="media-score d-flex justify-content-center align-items-center"> <span class="fw-700 
                            {% if result.vote_average >= 7.5 %}green{% elif result.vote_average >= 6 %}yellow{% else %}red{% endif %}
                            p-2 rounded-3">
                        {{ result.vote_average|floatformat:1 }}
                    </span></div>
                <div class="media-info pt-4 px-3">
                    <a href="{% url 'movie' result.id %}">
                        <div class="pb-1 fw-600 text-lg text-truncate"> {{result.title}}</div>
                    </a>
                    {% if result.release_date %}
                    <div class="fw-300"> {{result.release_date|slice:"0:4"}}</div>
                    {% else %}
                    <div class="invisible">no date</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if result.media_type == 'tv' and result.poster_path != None %}
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 my-3 px-3">
            <div class="media-card shadow-lg bg-dark rounded-top-4 rounded-bottom-4 pb-3 ">
                <a class="media-img" href="{% url 'movie' result.id %}">
                    <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                        src="http://image.tmdb.org/t/p/original{{result.poster_path}}">
                </a>
                <div class="media-score d-flex justify-content-center align-items-center"> <span class="fw-700 
                            {% if result.vote_average >= 7.5 %}green{% elif result.vote_average >= 6 %}yellow{% else %}red{% endif %}
                            p-2 rounded-3">
                        {{ result.vote_average|floatformat:1 }}
                    </span></div>
                <div class="media-info pt-4 px-3">
                    <a href="{% url 'movie' result.id %}">
                        <div class="pb-1 fw-600 text-lg text-truncate"> {{result.name}}</div>
                    </a>
                    {% if result.first_air_date %}
                    <div class="fw-300"> {{result.first_air_date|slice:"0:4"}}</div>
                    {% else %}
                    <div class="invisible">no date</div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endif %}

        {% if result.media_type == 'person' and result.profile_path != None %}

        <div class="col-6 col-md-4 col-lg-3 col-xl-2 my-3 px-3">
            <div class="media-card shadow-lg bg-dark rounded-top-4 rounded-bottom-4  pb-3">
                <a class="media-img" href="{% url 'movie' result.id %}">
                    <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                        src="http://image.tmdb.org/t/p/original{{result.profile_path}}">
                </a>

                <div class="media-info pt-4 px-3">
                    <a href="{% url 'movie' result.id %}">
                        <div class="pb-1 fw-600 text-lg text-truncate"> {{result.name}}</div>
                    </a>
                    {% if result.release_date %}
                    <div class="fw-300"> {{result.release_date|slice:"0:4"}}</div>
                    {% else %}
                    <div class="invisible">no date</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}


        {% endfor %}
    </div>
</div>

{% endblock body %}