{% extends "layout.html" %}
{% load static %}

{% block body %}

<style>

@media (max-width: 991.98px) {
    .fw-change {
        font-weight: 300;
    }
}

@media (min-width: 992px) {
    .backdrop {
        background: url('http://image.tmdb.org/t/p/w1280{{movie.backdrop_path}}');
        background-size: cover;
        background-position: center;
}

.backdrop-filter {
    {{ backdrop_filter }}
}

 .fw-change {
    font-weight: 400;
    }
}

.mobile-backdrop {
    background: url('http://image.tmdb.org/t/p/w1280{{movie.backdrop_path}}');
    background-size: cover;
    background-position: center;
}

.bg-poster {
    background:url("http://image.tmdb.org/t/p/w780{{movie.poster_path}}");
    background-size: cover;
    background-position: center;
}
</style>

<div class="p-nav ratio ratio-16x9 mobile-backdrop d-lg-none">
    <span class="score-div">
        {% if movie.vote_average > 0 %}
        <div class="py-3 row score w-100 h-100 d-sm-none">
            <div class="col-12 d-flex justify-content-end align-items-end">
                <span
                    class="p-2 rounded-3
                                    {% if movie.vote_average >= 7.5 %}positive{% elif movie.vote_average >= 6 %}neutral{% else %}negetive{% endif %}">
                    {{ movie.vote_average|floatformat:1  }}
                </span>
            </div>
        </div>
        {% endif %}
    </span>
</div>
<div class="my-4 mb-lg-0 backdrop ">
    <div class="container-fluid backdrop-filter pt-lg-2">
        <div class="container-fluid">
            <div class=" row d-flex px-md-2">
                <div class="px-0 pt-2 py-lg-4 d-md-block col-3 px-xl-4 poster-col d-none d-sm-block">
                    {% if movie.poster_path %}
                    <div class="rounded-3 aspect-ratio-2x3 bg-poster">
                        {% if movie.vote_average > 0 %}
                        <div class="px-2 py-2 score w-100 h-100 score-div rounded-3">
                            <div class="d-flex justify-content-end align-items-end w-100 h-100 ">
                                <span
                                    class="p-2 rounded-3
                                    {% if movie.vote_average >= 7.5 %}positive{% elif movie.vote_average >= 6 %}neutral{% else %}negetive{% endif %}">
                                    {{ movie.vote_average|floatformat:1  }}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <img src="{% static 'cinegraph/img/movie-placeholder.svg' %}" class="img-fluid" alt="">
                    {% endif %}
                </div>
                <div class="pt-lg-4 px-sm-4 px-xl-1 py-lg-4 col-12 col-sm-9 col-lg-8">
                    <div class=" row">
                        <div class="col-12">
                            <h1 class="mb-0 text-4xl fw-700 d-inline-block">{{movie.title}}&nbsp; <span
                                    class="text-4xl fw-300">
                                    {% if movie.release_date %}
                                    ({{ movie.release_date|slice:"0:4" }})
                                    {% endif %}
                                </span></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-2 mt-lg-1 col-12">
                            {% if rating %}
                            <span class="text-sm mpaa-rating ">{{rating}}</span>
                            {% endif %}
                            {% for genre in movie.genres %}
                            <span class="text-sm">{{ genre.name }},&nbsp;&nbsp; </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% if movie.overview %}
                    <div class="pt-3 row">
                        <div class="col-12">
                            <h3 class="text-2xl fw-600">Overview</h3>
                            <p class="pr-1 fw-400"> {{ movie.overview }} </p>
                            <hr class="mt-4 mb-4 bg-light">
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-lg-8 col-xl-9 row ">
                            <div class="col-6 d-flex flex-column">
                                <span class="fw-600">Budget</span>
                                <span class="fw-change">
                                    {% if budget %}
                                    {{ budget }}
                                    {% else %}
                                    unknown
                                    {% endif %}
                                </span>
                            </div>
                            <div class="pb-3 col-6 d-flex flex-column">
                                <span class="fw-600">Release</span>
                                <span class="fw-change">
                                    {% if movie.release_date %}
                                    {{ movie.release_date }}
                                    {% else %}
                                    unknown
                                    {% endif %}
                                </span>
                            </div>
                            <div class="pt-3 col-6 d-flex flex-column ">
                                <span class="fw-600">Box Office</span>
                                <span class="fw-change">
                                    {% if revenue %}
                                    {{ revenue }}
                                    {% else %}
                                    unknown
                                    {% endif %}
                                </span>
                            </div>
                            <div class="pt-3 col-6 d-flex flex-column">
                                <span class="fw-600">Runtime</span>
                                <span class="fw-change">
                                    {% if runtime %}
                                    {{ runtime }}
                                    {% else %}
                                    unknown
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                            {% if streaming_services %}
                            <div class="row">
                                <div class="text-lg fw-500">Where to Watch:</div>
                            </div>
                            <div class="row">
                                {% for service in streaming_services %}
                                <div class="p-2 col-2 col-md-4">
                                    <img loading="lazy" class="rounded img-fluid streaming"
                                        src="http://image.tmdb.org/t/p/w300{{service.logo_path}}" alt="">
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-0 mt-5 mt-lg-0 container-fluid bg-less-dark">
    <div class="px-4 px-lg-0 row w-100">
        <div class="col-12 col-lg-8 col-xl-7 px-lg-4 px-xl-5">
            <div class="px-1 mb-3 row ">
                <h3 class="mt-3 text-2xl pt-xl-2 pt-md-1 fw-600 mx-lg-3 w-100">Top Cast</h3>
                <a class="mx-1 text-secondary mx-lg-3" href="{% url 'movie_credits' movie.id %}">
                    See full cast&nbsp;<i class="fa-solid fa-chevron-right "></i>
                </a>
            </div>
            <div class="pb-2 overflow-auto px-lg-0 px-xl-2 row flex-nowrap flex-md-wrap no-gutters">
                {% for credit in movie.credits.cast|slice:":12" %}
                {% if credit.profile_path %}
                <div class="col-5 col-sm-4 col-md-6 ">
                    <div class="px-3 row no-gutters px-lg-0">
                        <div class="p-2 col-12 col-md-4 p-lg-3 p-sm-1 p-lg-0 ">
                            <a href="{% url 'person' credit.id %}">
                                <div class="headshot-wrapper ratio ratio-1x1 ">
                                    <img loading="lazy" src="http://image.tmdb.org/t/p/w185{{credit.profile_path}}"
                                        alt="" class="p-1 img-fluid rounded-circle">
                                </div>
                            </a>
                        </div>
                        <div
                            class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center align-items-lg-baseline text-truncate">
                            <a href="{% url 'person' credit.id %}"
                                class="fw-600 d-inline-block text-truncate cast-text">{{credit.name}}</a>
                            <span
                                class="text-sm fw-300 d-inline-block text-truncate cast-text">{{credit.character}}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="px-3 col-12 col-lg-4 col-xl-5 d-flex flex-column px-lg-0 px-xl-5 d-none d-lg-block ">
            <div class="mb-3 row w-100">
                <h3 class="px-3 pt-1 mt-3 text-2xl pt-xl-2 fw-600">Movie Media</h3>
            </div>
            {% if trailer or poster_batches > 0 or movie.images.backdrops > 0 %}
            {% if trailer %}
            <div class="gap-3 container-fluid d-flex flex-column h-100">
                <div class="pt-2 row ">
                    <div class="embed-responsive-custom rounded-3">
                        <iframe class="youtube" src="https://www.youtube.com/embed/{{ trailer }}" class="rounded-2"
                            allowfullscreen></iframe>
                    </div>
                </div>
                {% if poster_batches|length != 0 %}
                <div class="row ">
                    <div id="posterCarouselControls" class="p-0 carousel slide" data-bs-ride="carousel"
                        data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% for batch in poster_batches|slice:":1" %}
                                <div class="row">
                                    {% for poster in batch %}
                                    <div class="p-0 col-4">
                                        <img src="http://image.tmdb.org/t/p/w342{{poster.file_path}}"
                                            class="d-block img-fluid rounded-3" alt="...">
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            {% for batch in poster_batches|slice:"1:" %}
                            <div class="carousel-item ">
                                <div class="row">
                                    {% for poster in batch %}
                                    <div class="p-0 col-4">
                                        <img src="http://image.tmdb.org/t/p/w342{{poster.file_path}}"
                                            class="d-block img-fluid rounded-3" alt="...">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#posterCarouselControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#posterCarouselControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {% endif %}
                {% if movie.images.backdrops|length != 0 %}
                <div class="row">
                    <div id="backdropCarouselControls" class="p-0 carousel slide" data-bs-ride="carousel"
                        data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% for backdrop in movie.images.backdrops|slice:":1" %}
                                <img src="http://image.tmdb.org/t/p/w780{{backdrop.file_path}}"
                                    class="d-block w-100 rounded-3" alt="...">
                                {% endfor %}
                            </div>
                            {% for backdrop in movie.images.backdrops|slice:"1:" %}
                            <img loading="lazy" src="http://image.tmdb.org/t/p/w1280{{backdrop.file_path}}" alt=""
                                class="img-fluid rounded-3 carousel-item">
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#backdropCarouselControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#backdropCarouselControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
    {% if movie.recommendations.results|length != 0 %}
    <div class="container-fluid bg-dark">
        <div class="pt-3 mt-5 mb-3 row mt-lg-3 w-100">
            <h3 class="text-2xl fw-600 mx-lg-3 ">More like this</h3>
        </div>
        <div class="px-2 overflow-auto pb-lg-4 row flex-nowrap hide-scroll">
            {% for credit in movie.recommendations.results %}
            {% include 'components/credit_slider.html' %}
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="mb-5"></div>
    {% endif %}
</div>

{% endblock body %}