<div class="row align-text ">
    <h1 class="text-center fw-500 text-4xl">Popular movies</h1>
</div>
<div class="row">
    {% for movie in popular_movies %}
    {% if movie.poster_path != None %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex py-3">
        <div class="media-card shadow-lg bg-dark rounded-top-4 rounded-bottom-4  pb-3">
            <a class="media-img" href="{% url 'movie' movie.id %}">
                <img loading="lazy" class=" img-fluid rounded-top-3 rounded-top-4"
                    src="http://image.tmdb.org/t/p/original{{movie.poster_path}}">
            </a>
            <div class="media-score d-flex justify-content-center align-items-center"> <span class="fw-700 
                            {% if movie.vote_average >= 7.5 %}green{% elif movie.vote_average >= 6 %}yellow{% else %}red{% endif %}
                            p-2 rounded-3">
                    {{ movie.vote_average|floatformat:1 }}
                </span></div>
            <div class="media-info pt-4 px-3">
                <a href="{% url 'movie' movie.id %}">
                    <div class="pb-1 fw-600 text-lg text-truncate"> {{movie.title}}</div>
                </a>
                <div class="fw-300">{{ movie.formatted_date|date:'M d, Y' }}</div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>